<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/"> <img src="assets/iconos/icono.png" width="40px" float>Angular DAW</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="{{estiloActivo}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="{{estiloActivo}}">Presentación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/loteria" routerLinkActive="{{estiloActivo}}">Lotería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calculadora" routerLinkActive="{{estiloActivo}}"><i class="fa fa-calculator" routerLinkActive="fa-spin" aria-hidden="true"></i>Calculadora</a>
            </li>
            <li class="nav-item">
               
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/estructuras" routerLinkActive="{{estiloActivo}}">Estructuras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/formulario" routerLinkActive="{{estiloActivo}}">Formulario</a>
            </li>
        </ul>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Crud</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="nav-link" routerLink="/crudlocal" routerLinkActive="{{estiloActivo}}">Crud Local</a>
                            <a class="nav-link" routerLink="/crud" routerLinkActive="{{estiloActivo}}">Crud</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Listar</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="nav-link" routerLink="/listarPerfiles" routerLinkActive="{{estiloActivo}}">listarPerfiles</a>
                            <a class="nav-link" routerLink="/tuberias" routerLinkActive="{{estiloActivo}}">Tuberías</a>
                        </div>
                    </li>
                </ul>
            </div>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registro" routerLinkActive="{{estiloActivo}}">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="{{estiloActivo}}">Login</a>
            </li>
        </ng-template>
        <ng-template #salir>
            <li class="nav-item">
                <a class="nav-link" routerLink="/perfil" routerLinkActive="{{estiloActivo}}">Perfil</a>
            </li>
            <li class="nav-item" *ngIf='fnAdmin'>
                <a class="nav-link" routerLink="/admin" routerLinkActive="{{estiloActivo}}"><i class="fas-fa-lock"></i> Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="doLogout()" routerLink='.'>Logout</a>
            </li>
        </ng-template>
        </ul>
    </div>
  </div>
</nav>
