.card{
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 0.4em;
}

body {
  font  : 21px sans-serif;
  padding : 2em;
  margin  : 0;
  background: rgb(192,174,238);
  background: radial-gradient(circle, rgba(192,174,238,1) 12%, rgba(165,148,233,1) 100%);
  font-family:  'Akaya Telivigala', cursiva;
  background: url(assets/img/olaMar.jpeg) no-repeat center center fixed;
  background-size: 95%;
}



